body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
}

header {
    background: #333;
    margin-top: -1.3rem;
}

.nav-bar {
    background: #000;
    border-radius: 6px;
    outline: 2px solid #b5b5b5;
    width: 100%;
    height: 80px;
}

.nav-bar h4 {
    color: #fff;
    font-size: 1.45rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1.1rem;
    padding: 1.1rem;
}

.dropdown-toggle {
  background-position: 83%;
  background-repeat: no-repeat;   
  background-size: auto;
  padding-left: 8%;
  padding: 26px 20px 20px;
}

.w-dropdown-toggle {
    cursor: pointer;
}


.nav-link {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -4.5rem;
    margin-left: 7.4rem;
    font-size: 700;
}

.nav-link:focus {
   background: #000;
}

.nav-dropdown-arrow {
    margin-left: 10px;
}

.nav-link img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link1 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -7.2rem;
    margin-left: 13.9rem;
    font-size: 700;
}

.nav-link1:focus {
   background: #000;
}

.nav-dropdown-arrow1 {
    margin-left: 10px;
}

.nav-link1 img {
    max-width: 100%;
    vertical-align: middle;
}



.nav-link2 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -9.99rem;
    margin-left: 22.9rem;
    font-size: 700;
}

.nav-link2:focus {
   background: #000;
}


.nav-dropdown-arrow2 {
    margin-left: 10px;
}

.nav-link2 img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link3 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -12.79rem;
    margin-left: 29.9rem;
    font-size: 700;
}

.nav-link3:focus {
   background: #000;
}


.nav-dropdown-arrow3 {
    margin-left: 10px;
}

.nav-link3 img {
    max-width: 100%;
    vertical-align: middle;
}



.nav-link4 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -15.79rem;
    margin-left: 36.9rem;
    font-size: 700;
}

.nav-link4:focus {
   background: #000;
}

.nav-dropdown-arrow4 {
    margin-left: 10px;
}

.nav-link4 img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link5 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -16.99rem;
    margin-left: 46.9rem;
    font-size: 700;
}

.nav-link5:focus {
   background: #000;
}




.w-embed:before {
   content: "";
   grid-area: 1/1/2/2;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-end: 2;
   display: table;
}


.section-template {
    background-size: cover;
    align-items: center;
    justify-items: stretch;
    display: block;
}



.video-bg-church {
    width: 1400px;
}


.container-section .home-section{
    margin-bottom: 16px;
}

.container-section {
    width: 90%;
    max-width: 1600px;
    display: block;
}


.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid-text {
    display: block;
    margin: 3em;
}

.bethel-vision-title {
    display: block;
    margin: .67em 0;
    margin-top: -40.98rem;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.bethel-vision-title1 {
    color: #fff;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}



/* hero-background video */

 .hero-background-video {
  width: 100%;
  height: auto;
 }


 .w-background-video {
  color: #fff;
 }

/* hero-buttons */ 
.hero-buttons {
   display: block;
   justify-content: center;
   align-items: center;
}


.button-arrow {
  cursor: pointer;
}


.join-person{
   border: 8px solid #000;
   background: #000;
   cursor: pointer;  
}


.join-p {
 color: #fff;
}

.join-online {
   border: 8px solid #000;
   background: #000;  
   cursor: pointer;
}

.join-p1 {
 color: #fff;
 margin-top: 0.8em;
}


.button-arrow-icon {
   margin-left: 0.84em;
}



/* make all anchor tag links text-decoration properties to none */

a {
  text-decoration: none;
}




@media screen and (max-width: 780px) {
     .content-header {
        font-size: .48rem;
        font-weight: 600;
        display: flex;
     }

     .content-paragraph {
        font-size: .49rem;
        font-weight: 500;
        display: flex;
     }

     .nav-link, .nav-link1, .nav-link2, .nav-link3,
     .nav-link4, .nav-link5 {
        display: none;
     }

     .nav-bar {
        width: 500px;
     }

     .section-template {
        width: 500px;
     }
}
