body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    min-height: 100%;
    background-position: fixed;
}

header {
    background: #333;
    margin-top: -1.3rem;
}

.nav-bar {
    background: #000;
    border-radius: 6px;
    outline: 2px solid #b5b5b5;
    width: 100%;
    height: 80px;
}

.nav-bar h4 {
    color: #fff;
    font-size: 1.45rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1.1rem;
    padding: 1.1rem;
}

.dropdown-toggle {
  background-position: 83%;
  background-repeat: no-repeat;   
  background-size: auto;
  padding-left: 8%;
  padding: 26px 20px 20px;
}

.w-dropdown-toggle {
    cursor: pointer;
}


.nav-link {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -4.5rem;
    margin-left: 7.4rem;
    font-size: 700;
}

.nav-link:focus {
   background: #000;
}

.nav-dropdown-arrow {
    margin-left: 10px;
}

.nav-link img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link1 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -7.2rem;
    margin-left: 13.9rem;
    font-size: 700;
}

.nav-link1:focus {
   background: #000;
}

.nav-dropdown-arrow1 {
    margin-left: 10px;
}

.nav-link1 img {
    max-width: 100%;
    vertical-align: middle;
}



.nav-link2 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -9.99rem;
    margin-left: 22.9rem;
    font-size: 700;
}

.nav-link2:focus {
   background: #000;
}


.nav-dropdown-arrow2 {
    margin-left: 10px;
}

.nav-link2 img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link3 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -12.79rem;
    margin-left: 29.9rem;
    font-size: 700;
}

.nav-link3:focus {
   background: #000;
}


.nav-dropdown-arrow3 {
    margin-left: 10px;
}

.nav-link3 img {
    max-width: 100%;
    vertical-align: middle;
}



.nav-link4 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -15.79rem;
    margin-left: 36.9rem;
    font-size: 700;
}

.nav-link4:focus {
   background: #000;
}

.nav-dropdown-arrow4 {
    margin-left: 10px;
}

.nav-link4 img {
    max-width: 100%;
    vertical-align: middle;
}


.nav-link5 {
    width: 100%;
    color: #fff;
    padding-right: 5%;
    display: block;
    margin-top: -16.99rem;
    margin-left: 46.9rem;
    font-size: 700;
}

.nav-link5:focus {
   background: #000;
}

@media screen and (max-width: 991px){
.w-nav[data-collapsed=medium] .w-nav-button{
    display: block;
}

.menu-button {
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    right: auto;
}
}


@media screen and (max-width: 767px){
    .menu-button {
        padding-left: 15px;
        padding-right: 15px;
    }
}


.w-nav-button {
    cursor: pointer;
}


.search-block {
    padding: 24px 0 24px 18px;
    display: inline-block;
    position: relative;
    margin-left: 78rem;
    margin-top: -11.2rem;
    padding-left: 15px;
    padding-right: 15px;
}

.search-icon {
   width: 20px;
   height: 20px;
   display: block; 
}

.search-icon img{
    vertical-align: middle;
    max-width: 100%;
}




@media screen and (max-width: 767px){
   .hero-background-video {
      display: block;
   }

   .hero-background-video {
    z-index: 0;
    width: 100%;
    height: auto;
   }

   .w-background-video {
    color: #fff;
    overflow: hidden;
   }
}


.w-embed:before {
   content: "";
   grid-area: 1/1/2/2;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-end: 2;
   display: table;
}


.section-template {
    height: 95vh;
    min-width: 1400px;
    min-height: 600px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: stretch;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.container-section .home-section{
    margin-bottom: 16px;
}

.container-section {
    width: 90%;
    max-width: 1600px;
    display: block;
}

@media screen and (max-width: 767px){
   .container {
    overflow: auto;
   }    
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid-text {
    display: block;
    margin-right: 0;
    margin: 3em;
}

.bethel-vision-title {
    display: block;
    margin: .67em 0;
    margin-top: -40rem;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.bethel-vision-title1 {
    color: #fff;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 767px){
     .bethel-vision-title {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 54px;
     }

     .bethel-vision-title1 {
        display: flex;
        justify-content: center;
        align-items: normal;
        font-size: 0.45em;
        margin-right: 22rem;
     }
}

@media screen and (max-width: 991px){
    .bethel-vision-title {
        display: block;
        font-size: 54px;
        text-transform: uppercase;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;
    }
}

@media screen and (max-width: 767px){
    .bethel-vision-title1 {
        display: block;
        font-size: 22px;
        line-height: 32px;
        position: relative;
    }
}

/* hero-background video */

 .hero-background-video {
  width: 100%;
  height: auto;
 }


 .w-background-video {
  color: #fff;
 }

/* hero-buttons */ 
.hero-buttons {
   display: block;
   justify-content: flex-start;
   align-items: center;
}


.button-arrow {
  cursor: pointer;
}


.join-person{
   border: 8px solid #000;
   background: #000;  
}

.join-p {
 color: #fff;
}

.join-online {
   border: 8px solid #000;
   background: #000;  
}

.join-p1 {
 color: #fff;
 margin-top: 0.8em;
}


.button-arrow-icon {
   margin-left: 0.84em;
}



/* make all anchor tag links text-decoration properties to none */

a {
  text-decoration: none;
}

/* media query for the buttons (hero-buttons) */

@media screen and (max-width: 767px) {
   .hero-buttons {
    flex-direction: column;
   }

 
   .join-person {
      display: block;
      margin-right: -1.5rem;
   }
   
   .join-online {
    display: block;
   }
}