body {
   font-family: Roboto,sans-serif;
   margin-top: 0;
   margin-bottom: 0;
   min-height: 100%;
   background-color: #fff;
   margin: 0;
   font-weight: 400;
}

* {
    box-sizing: border-box;
}

/* root */

:root {
    --victor: #363df7;
    --black: black;
    --east: #8cff47;
    --shasta: #858794;
    --dana: #ebabab;
    --cypress: #1f5254;
    --white: white;
    --light-tan: #e8e3d6;
    --butte: #362642;
    --vuba: #eb78f5;
    --bonnyview: #f7ed61;
    --placer: #debdd1;
    --eureka: #996929;
    --white-smoke: #f6f6f6;
    --collyer: #cfc4b0;
    --hilltop: #4d8c87;
    --pine: #14452b;
    --oasis: #545978;
    --clay: #aba682;
    --lake: #80a1c4;
    --beunaventure: #f28717;
    --count: #7a7869;
    --market: #2b3b4f;
    --off-black: #1a1a1a;
    --knighton: #a37378;
}

/* urgent-update, text, a*/

.urgent-update, .update-container {
    display: block;
}


.urgent-text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.urgent-update a {
    cursor: pointer;
    text-decoration: underline;
}


.urgent-update a{
   text-decoration: none;
}

/*navbar-container*/

.navbar-container {
 z-index: auto;
 width: 90%;
 max-width: 1360px;
 margin-left: auto;
 margin-right: auto;
 position: relative;   
 justify-content: center;
 align-items: center;
 top: 0;
 margin-top: -10px;
 height: 130px;
}

@media screen and (max-width: 991px) {
    .navbar.w-nav {
        width: 100%;
        top: -20px;
        position: absolute;
    } 
}

/*brand section*/
.brand.w--current {
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .brand {
        margin-left: auto;
        margin-right: auto;
    }
}


.w-nav-brand {
    color: #333;
    text-decoration: none;
    position: relative;
}

/* make all anchor tag text decoration = none */

a {
    background-color: transparent;
    text-decoration: none;
}

/*nav-logo sction*/

.nav-logo {
    max-height: 40px;
    letter-spacing: .4px;
    margin-top: 12px;
    margin-right: 20px;
    font-weight: 400;
}

/*img inherit*/

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

@media screen and (max-width: 991px){
    .w-nav[data-collapsed=medium] .w-nav-menu {
        display: none;
    }
}

/*nav-menu & nav-menu-item*/

@media screen and (max-width: 479px){
   .nav-menu {
    max-height: 90vh;
   }
}

@media screen and (max-width: 767px) {
    .nav-menu {
        width: 100%;
        left: auto;
    }
}

@media screen and (max-width: 991px){
    .nav-menu-item {
       border-top: 1px solid var(--off-black);
       margin-left: 0;
       margin-right: 0;
       display: block;
    }
}

.nav-menu-item {
       width: auto;
       padding-left: 0;
       padding-right: 0;
       font-size: 18px;
}

.w-dropdown {
   position: relative;
   z-index: 900;
   text-align: left;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}


/* nav-dropdown toggle-about*/

.dropdown-toggle.about {
    display: none;
}

@media screen and (max-width: 991px) {
    .dropdown-toggle {
        background-image: url(https://assets-global.website-files.com/613a860.../6161cde5);
        background-position: 92%;
        background-repeat: no-repeat;
        background-size: auto;
        padding: 8%;
    }
}

.dropdown-toggle {
    height: 68%;
    padding: 26px 20px 20px;
    font-weight: 400;
    line-height: 18px;
}

.w-dropdown-toggle {
   cursor: pointer;
   text-align: left;
   white-space: nowrap;
}

.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
   vertical-align: top;
   text-align: left;
   white-space: nowrap;
   text-decoration: none;
   position: relative;
}


/* media query for the nav-link */

@media screen and (max-width: 991px){
.nav-link {
  width: 100%;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-right: 5%;
  display: none;  
}
}

.nav-link {
   letter-spacing: .4px;
   font-size: 16px;
   font-weight: 400;
}


.nav-dropdown.about {
   border: 0 solid #000;
}



/* media query for nav-dropdown */

@media screen and (max-width: 767px) {
    .nav-dropdown {
       padding: 20px 10% 20px 8%;
       left: 0;
    }
}

.nav-dropdown {
   z-index: 9990;
   background-color: var(--white);
   border: 0 solid #000;
   top: 68px;
   box-shadow: 0 0 44px rgba(241, 91, 91, 0.2);
}

.w-dropdown-list {
   min-width: 100%;
   background: #ddd;
   display: none;
   position: absolute;
}


@media screen and (max-width: 991px){
   .nav-blue-line {
      display: none;
   }
}

.nav-blue-line {
  height: 6px;
  background-color: var(--victor);
  padding-bottom: 0;
  position: absolute;
  top: -6px;
  bottom: auto;
  left: 0%;
  right: auto;
}

/*search */

.search-icon {
    margin-left: 100%;
    cursor: pointer;
}


@media screen and (max-width: 991px) {
    .search-icon {
        display: block;
        margin-top: -25px;
    }
}

/* hamburger menu */


/*nav-dropdown media*/
@media screen and (max-width: 767px){
     .nav-dropdown.church.w--open, .nav-dropdown.get-involved.w--open,
     .nav-dropdown-columns, .nav-dropdown-column {
        display: block;
     }
}

@media screen and (max-width: 991px){
    .nav-dropdown-columns {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.nav-dropdown-columns {
    width: 100%;
    height: auto;
    position: relative;
}


@media screen and (max-width: 767px) {
    .w-row, .w-container .w-row{
        margin-left: 0;
        margin-right: 0;
    }    
}


@media screen and (max-width: 767px) {
    .nav-dropdown-column {
        display: block;
    }
}

/* dropdown-column*/

.nav-dropdown-column {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

@media screen and (max-width: 767px) {
    .w-col {
        right: auto;
        left: auto;
    }
}



@media screen and (max-width: 767px) {
    .nav-dropdown-link{
        width: 100%;
    }
}

.nav-dropdown-link {
    color: var(--black);
    margin-left: 0;
    margin-right: 0;
    padding: 16px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

.w-dropdown-link {
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
}

.w-col {
    min-height: 1px;
}

@media screen and (max-width: 991px){
    .nav-blue-line, .nav-dropdown-arrow{
        display: none;
    } 
}

/* nav-dropdown-arrow*/

.nav-dropdown-arrow {
    margin-left: 10px;
}

/* media query for .subscribe-form, dropdown-toggle, church, 
blue-line, arrow*/

@media screen and (max-width: 767px){
    .subscribe-form, .dropdown-toggle{
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .nav-dropdown.church {
        width: 100%;
     }    
}

.nav-blue-line.church {
    width: 11%;
}

@media screen and (max-width: 991px) {
    .nav-blue-line, .nav-dropdown-arrow{
        display: none;
    }
}

/* dropdown-section-left for media */

@media screen and (max-width: 767px) {
    .nav-dropdown-section.left {
        display: block;
    }
}

.nav-dropdown-section.left, .nav-dropdown-section.center {
    flex: 1;
    margin-right: 60px;
}

@media screen and (max-width: 767px) {
   .nav-dropdown-section {
    width: 100%;
    margin-right: 0;
    display: block;
   }   
}

.left {
    margin-left: 0;
}


/*nav-menu-label*/

@media screen and (max-width: 767px) {
    .nav-menu-label {
        padding-top: 20px;
    }
}

.nav-menu-label {
    color: var(--shasta);
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1em;
    position: relative;
}


@media screen and (max-width: 767px) {
   .nav-dropdown-section.center {
       width: 100%;
       margin-right: 0;
       display: block;
   }    
}

.nav-dropdown-section.center {
   flex: 1;
}

.nav-dropdown-section.left, .nav-dropdown-section.center{
    flex: 1;
    margin-right: 60px;
}

.nav-dropdown-section {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    position: relative;
}

/*media query */

@media screen and (max-width: 991px) {
    .nav-dropdown.get-involved, .nav-dropdown.events, 
    .nav-dropdown.schools, .nav-dropdown.resources {
          width: 100%;
    }
}

.nav-blue-line.get-involved {
   width: 18%;
}


.nav-blue-line.events {
    width: 22%;
}

.nav-dropdown-link.full-width {
    width: 100%;
}

.nav-blue-line.school {
    width: 17%;
}

.nav-blue-line.resources {
    width: 39%;
}

/* give section */

@media screen and (max-width: 767px) {
    .nav-menu-item.give {
        margin-left: 0;
        display: none;
    }
}


@media screen and (max-width: 991px) {
    .nav-menu-item.give {
        padding-left: 8%;
        padding-right: 20px;
        display: none;
    }
}

.nav-menu-item.give {
    height: 68px;
    top: 7px;
    margin-right: 20px;
    font-size: 16px;
}

.w-nav-link{
 vertical-align: top;
 padding: 20px;
 position: relative;
 top: 26px;
}

@media screen and (max-width: 991px) {
    .w-nav[data-collapsed=medium] .w-nav-button{
        display: block;
    }
}

/* media query for menu-button*/

@media screen and (max-width: 767px) {
    .menu-button {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (max-width: 991px) {
    .menu-button {
        color: #fff;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        right: auto;
    }
}

.w-nav-button {
    cursor: pointer;
    font-size: 24px;
}



.w-nav-overlay[data-nav-menu-open] {
    top: 0;
}


/*navbar*/

.navbar {
   z-index: 9000;
   width: 100%;
   background-color: #000;
   padding-top: 0;
   padding-bottom: 0;
   display: block;
   position: fixed;
   top: 0;
   box-shadow: 0 1px 80px rgba(255,255,255,.16);
}

@media screen and (max-width: 991px) {
    .w-nav{
        margin-top: 20px;
    }
}

.nav-link {
    color: #fff;
    margin-top: -20px;
}

.nav-menu-item.give {
    color: #fff;
}

/* section-home */
/* section video*/

@media screen and (max-width: 479px) {
    .section.home-hero, .section.impact-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
    }
}

@media screen and (max-width: 991px) {
    .section.home-hero {
       margin-top: 0;
       margin-bottom: 0;
    }
}

.section.home-hero {
   height: 95vh;
   min-height: 500px;
   color: #fff;
   background-image: linear-gradient(90deg,rgba(0,0,0,.3),rgba(255,255,255,0) 50%),url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/623b6f739362642d2b83c3f7_bethel-hero-bg.jpg);
   background-position: 0,0,50%;
   background-repeat: repeat, no-repeat;
   background-size: auto,cover;
   align-items: center;
   justify-items: stretch;
   display: flex;
   position: relative;
}

@media screen and (max-width: 767px) {
    .section {
       padding-top: 60px;
       padding-bottom: 60px;
    }
}

.section {
  width: 100%;
  background-color: var(--white);
  border-radius: 0;
  flex-flow: row;
  overflow: auto;
  align-items: center;
  display: block;
  position: relative;
  overflow: auto;
}

@media screen and (max-width: 767px){
    .hero-background-video {
        display: block;
    }
}

.hero-background-video {
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;   
}

.w-background-video {
    color: #fff;
    overflow: hidden;
}

.w-embed:after {
    clear: both;
}

.w-embed:before, .w-embed:after {
    content: "";
    grid-area: 1/1/2/2;
    display: table;
}

.w-background-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
}

audio, canvas, progress, video {
    vertical-align: baseline;
    display: inline-block;
}

/* container home-hero*/

.container._1600px.home-hero {
    margin-bottom: 16px;
}

.container._1600px {
    width: 90%;
    max-width: 1600px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .container {
        overflow: auto;
    }
}

.container {
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}


.grid-text-block.hero-left {
    width: 100%;
    max-width: 680px;
    position: relative;
    right: auto;
}

@media screen and (max-width: 767px) {
    .grid-text-block {
        order: 1;
    }
}


@media screen and (max-width: 991px) {
    .grid-text-block {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px){
    .flex-grid-item.collapse {
        margin-bottom: 48px;
    }
}

/*grid-section class*/

.grid-text-block {
    flex-direction: column;
    align-items: flex-start;
    display: block;
}


/*bethel-vision-title*/

@media screen and (max-width: 991px) {
    .bethel-vision-title {
        margin-bottom: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .bethel-vision-title {
        line-height: 50px;
    }
}


.bethel-vision-title {
    text-transform: uppercase;
    font-family: ivypresto-display, sans-serif;
    font-weight: 400;
}

/*h1,h2,h3,h4,h5,h6*/

h1{
    margin-top: 0;
    margin-bottom: 24px;
    margin: 0.67em 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.l5 {
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    h4 {
        width: 100%;
        font-size: 22px;
        line-height: 32px;
        position: relative;
    }
}

h4 {
    margin-top: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*buttons */

.hero-buttons {
    display: block;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .button-arrow {
        padding: 17px 26px;
    }
}

.mr3 {
    margin-right: 24px;
}

.button-arrow {
    height: auto;
    color: #fff;
    white-space: nowrap;
    background-color: #000;
    margin-right: 12px;
    font-size: 18px;
}

.l2 {
    margin-bottom: 16px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .button-arrow-text {
        font-size: 18px;
        line-height: 18px;
    }
}

.button-arrow-text {
    display: inline;
}


.button-arrow-icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .button-arrow-icon {
        width: auto;
        margin-top: 0;
    }
}


.button-arrow-text._18 {
    font-size: 18px;
}

@media screen and (max-width: 991px) {
    .button-arrow-text {
        line-height: 18px;
    }
}

.container._1360px {
   width: 90%;
   height: auto;
   max-width: 1360px;
   flex-direction: row;
   position: relative;
}

@media screen and (max-width: 479px) {
    .container._1360px{
       align-items: flex-start;
    }
}

/* betherl section .container _1360px */

@media screen and (max-width: 767px) {
    h2{
        font-size: 34px;
        line-height: 44px;
    }
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.side-by-side-grid.top-aligned {
    align-items: start;
}

@media screen and (max-width: 767px) {
    .side-by-side-grid {
        grid-template-columns: 1fr;
        margin-left: 0;
        display: block;
    }
}

.side-by-side-grid {
    flex-flow: wrap;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    justify-items: start;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 767px) {
    .flex-grid-item {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .flex-grid-item {
        min-width: 200px;
        justify-content: center;
    }
}

.flex-grid-item {
   flex-direction: column;
   flex: 1;
   align-self: stretch;
   align-items: stretch;
   position: relative;
   overflow: visible;   
}

.heading-3.ivypresto._300 {
     font-weight: 300;
}

.ivypresto.l4 {
    letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
    .heading-3 {
        font-size: 30px;
        line-height: 40px;
    }
}

.heading-3 {
    text-transform: none;
}

.ivypresto {
    font-family: ivypresto-display, sans-serif;
}

.l4 {
    margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
    p {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
        position: relative;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 1px;
}

.button-arrow.white-smoke {
    background-color: var(--white-smoke);
    color: var(--black);
}


.section.background-black {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 767px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container._1360px.bg-ministries {
    background-image: url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/625508e9a08d1129aa5b6f38_bethel-ministries.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}



.heading-4.ivypresto.caps._300{
    font-weight: 300;
}

.heading-4.ivypresto.caps{
    text-transform: uppercase;
}

.heading-4.caps {
    letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
    .heading-4 {
        font-size: 22px;
        line-height: 32px;
    }
}

@media screen and (max-width: 479px) {
    .heading-1.jumbo-2{
        font-size: 38px;
    }
}

.heading-1.jumbo-2{
    line-height: 1.1em;
}

.heading-1._300 {
    font-weight: 300;
}

.heading-1 {
    text-transform: none;
}

h3{
    letter-spacing: 1px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*button-arrow-white*/

.button-arrow.white {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 991px) {
    .image {
        margin-left: auto;
        margin-right: auto;
    }
}

.image {
    width: 100%;
    height: auto;
    background-color: transparent;
    flex: 1;
    display: block;
    position: relative;
}


.flex-grid-item.align-center {
    align-self: center;
    align-items: center;
    display: flex;
}

.div-block {
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    display: block;
    position: relative;
}


@media screen and (max-width: 767px) {
 h6 {
    font-size: 16px;
    line-height: 24px;
 }   
}

h6 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
}

h6 {
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: ) {
  .heading-1 {
    font-size: 40px;
    line-height: 50px;
  }   
}

.heading-1 {
    text-transform: none;
    font-weight: 400;
}

.l3 {
    margin-bottom: 24px;
}

/*date-begin*/

.date-begin {
    width: auto;
    color: var(--court);
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 991px) {
    .date-begin {
        font-size: 18px;
    }
}

h5 {
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 767px) {
    .date-spacer {
        display: inline;
        position: relative;
    }
}


@media screen and (max-width: 991px) {
    .date-spacer {
        font-size: 18px;
    }
}

.date-spacer {
    width: auto;
    color: var(--court);
    padding-left: 10px;
    padding-right: 10px;
}


@media screen and (max-width: 767px) {
    .date-end {
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    .date-end {
        font-size: 18px;
    }
}

.date-end {
    width: auto;
    color: var(--court);
    display: inline-block;
}

.section.background-light-tan {
    background-color: var(--light-tan);
}

.container._700px {
    width: 90%;
    max-width: 700px;
}

@media screen and (max-width: 991px) {
    .container._700px {
        overflow: hidden;
    }

    .centered-header._18 {
       font-size: 16px;
       line-height: 18px;
       margin-right: 4px;
    }
}



.heading-1.ivypresto._100.centered-header.l4 {
    letter-spacing: 2px;
}

._100 {
    font-weight: 100;
}

.centered-header {
    text-align: center;
}

.l8 {
    margin-bottom: 64px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--black);
    display: block;
    position: relative;
}

.link-block {
    color: var(--off-black);
    display: block;
    position: relative;
}

.link-grid {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    border-bottom: 1px solid #000;
    grid-template-columns: 1fr, .2fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

@media screen and (max-width: 991px) {
    .l0 {
        position: relative;
    }
}

.l0 {
    margin-bottom: 0;
}

.section.bethel-music {
    height: 90vh;
    min-height: 500px;
    background-color: var(--black);
    outline-offset: 0px;
    color: var(--white);
    outline: 3px #fff;
}

@media screen and (max-width: 479px) {
    .container._900px, .container.bethel-music
    .container.calender {
        align-items: flex-start;
    }
}

.container.bethel-music {
    width: 90%;
    height: 100%;
    max-width: 1360px;
    min-height: 400px;
    flex-direction: row;
    position: relative;
}

.stuck-to-bottom {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.heading-2 {
    text-transform: none;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .heading-2 {
        font-size: 34px;
        line-height: 44px;
    }
}


.button-arrow.small.clear.white {
    color: var(--white);
}

.button-arrow.small.clear {
    height: auto;
    background-color: transparent;
    padding: 0;
    margin-top: 50px;
}


/*media query button-arrow-small-section*/

@media screen and (max-width: 767px) {
    .button-arrow.small {
        margin-bottom: 16px;
    }
}

.button-arrow.small {
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .container._1360px.bg-schools {
        background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
        url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/62551289c6f4ff6c05b4ed5a_bethel-schools.jpg);
        background-position: 0 0, 50%;
        background-repeat: repeat,no-repeat;
        background-size: auto,contain;
    }
}

.container._1360px.bg-schools {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
        url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/62551289c6f4ff6c05b4ed5a_bethel-schools.jpg);  
    padding-top: 40px;
      background-repeat: repeat,no-repeat;
      background-size: auto,contain;
      background-position: 0 0,50%;
} 

.heading-6._500 {
   font-weight: 500;
}

.heading-6.caps {
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .l1 {
       display: block;
    }
}

.heading-6 {
  font-size: 16px;
  line-height: 24px;
}

.l1 {
   margin-bottom: 8px;
}

.caps {
   text-transform: uppercase;
}

.button-arrow-text {
    display: inline;
    font-size: 18px;
    line-height: 18px;
}

/*section-background-ab section*/

.section.background-ab {
   height: 90vh;
   background-image: url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/62551a0a065c53d9582b66f0_bethel-property.jpg);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

/*section hidden*/
.section.hidden {
    display: none;
}


.section.background-ab2 {
   height: 90vh;
   background-image: url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/62551a0a065c53d9582b66f0_bethel-property.jpg);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}



.section.background-ab3 {
   height: 90vh;
   background-image: url(https://assets-global.website-files.com/613a860b6005a3bcb87aca81/62551a0a065c53d9582b66f0_bethel-property.jpg);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.section.background-off-black {
    color: var(--white);
    background-image: linear-gradient(#1c1c1c, #1c1c1c);
}

/*container1100px for link,signup-form, subscribe*/

.container._1100px{
    width: 90%;
    max-width: 1100px;
}

link {
    display: none;
}

#mc_embed_signup {
    width: 100%;
}

.subscribe-form-block {
    flex-wrap: nowrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 24px 0;
}

@media screen and (max-width: 479px) {
    .subscribe-form {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 767px) {
    .subscribe-form, .dropdown-toggle{
        display: block;
    }
}

#mc_embed_signup input {
    border: 0;
    border-radius: 0;
}

@media screen and (max-width: 767px) {
    .subscribe-input {
        margin-bottom: 24px;
        font-size: 16px;
    }
}

.subscribe-input {
    height: 54px;
    background-color: #f6f6f6;
    flex: 1;
    padding: 0 20px;
    line-height: 18px;
    display: inline-block;
}

#mc_embed_signup .button {
    display: inline-block;
    height: 54px;
    margin: 0px;
    padding: 18px 32px 16px;
    color: #fff;
    line-height: 18px;
    white-space: nowrap;
    clear: both;
    background-color: #000;
    border: 0 none;
    border-radius: 0px;
    transition: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    width: auto;
}

#mc_embed_signup div#mce-responses {
    top: -1.4em;
    padding: 0em 0.5em 0em 0.5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
   margin: 1em 0;
   padding: 1em 0.5em 0.5em 0;
   top: -1.5em;
   z-index: 1;
   width: 80%;  
}

#mc_embed_signup #mce-success-response {
    color: #529214;
}

script {
    display: none;
}


/*footer*/
.footer-section.background-black {
    z-index: 3000;
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 767pz) {
    .footer-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.footer-section {
    width: 100%;
    height: auto;
    border-radius: 0;
    flex-flow: row;
    align-items: center;
    display: block;
    position: relative;
    overflow: auto;
}

.subscribe-form {
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    justify-items: start;
    flex-direction: column;
}

.footer-section.background-black {
    z-index: 3000;
    background-color: #000;
    color: var(--white);
}


@media screen and (max-width: 767px){
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-section {
    width: 100%;
    height: auto;
    border-radius: 0;
    display: block;
    position: relative;
    overflow: auto;
}

@media screen and (max-width: 991px){
    .footer-grid-container {
        flex-direction: column;
        display: flex;
        grid-template-columns: 100% 100%;
    }
}


.footer-grid-container {
    grid-template-rows: auto;
    grid-auto-flow: column;
    margin-bottom: 32px;
}


.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

@media screen and (max-width: 991px) {
    .footer-grid-item.about{
        width: 100%;
        order: 1;
    }
}

.footer-grid-item.about {
    min-width: 120px;
}

@media screen and (max-width: 479px) {
    .footer-grid-item {
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .footer-grid-item {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 479px){
    .footer-paragraph{
        width: 100%;
    }
}

.footer-paragraph {
    min-width: 100px;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 15px;
        line-height: 25px;
        position: relative;
    }
}

@media screen and (max-width: 479px){
    .footer-grid {
        display: block;
    }
}


.footer-grid-item {
    padding-bottom: 32px;
}


@media screen and (max-width: 767px) {
    .footer-grid {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        flex-direction: row;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, min-max(50%,1fr));
        grid-auto-columns: auto;
    }
}

@media screen and (max-width: 991px) {
    .footer-grid {
        min-width: 100%;
    }
}

.footer-grid {
    flex: 1;
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: start;
}

@media screen and (max-width: 479px) {
    .footer-grid-item {
        width: 100%;
        padding: relative;
    }
}

@media screen and (max-width: 767px) {
    .footer-grid-item {
        margin-bottom: 32px;
    }
}

.footer-grid-item {
    padding-bottom: 32px;
}

.heading-6.caps {
    letter-spacing: 2px;
}



h6 {
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-link {
    width: 100%;
    color: rgba(255, 255, 255, .8);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    display: block;
}

@media screen and (max-width: 767px) {
    .footer-social-icon{
        padding-top: 8px;
        display: inline-block;
    }
}

@media screen and (max-width: 991px) {
    .footer-social-icon {
        padding-bottom: 6px;
    }
}

.footer-social-icon {
    width: 100%;
    grid-row-gap: 0px;
    color: rgba(255, 255, 255, .9);
    grid-template: "Area"/40px 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-items: start;
    padding: 6px 0 8px;
    position: relative;
}

.font-icon.brand.social {
    width: 20px;
    margin-right: 20px;
    padding: 0;
    font-size: 20px;
}

.font-icon.brand {
    line-height: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 767px) {
    .brand {
        margin-left: auto;
    }
}

.font-icon {
    text-align: center;
    display: inline-block
}

@media screen and (max-width: 767px) {
    .footer-social-text {
        padding-top: 0;
        padding-bottom: 4px;
    }
}

.footer-social-text {
    width: auto;
    color: rgba(255, 255, 255, .9);
    font-size: 16px;
    line-height: 1em;
    display: inline-block;
    position: relative;
}

.font-icon.brand.social {
    width: 20px;
    margin-right: 20px;
    padding: 0;
    font-size: 20px;
}

.font-icon.brand {
    line-height: 1em;
}


